# Pandas Tutorial

In [1]:
import pandas as pd
import numpy as np

## Series

In [5]:
#Saving in a variable
s=pd.Series(np.random.randn(5)) #Withous index
print(s)

0   -1.537375
1   -1.139035
2    2.121158
3    2.934701
4    0.724481
dtype: float64

In [8]:
print (s[0])
print ("\n")
print (s[:3]) #Slicing the Series like a list

-1.53737497153


0   -1.537375
1   -1.139035
2    2.121158
dtype: float64

## DataFrames

In [10]:
#DataFrame having s-series as above
df=pd.DataFrame(s,columns=['Column 1'])
df

   Column 1
0 -1.537375
1 -1.139035
2  2.121158
3  2.934701
4  0.724481

In [11]:
#Accesing a particular column by name
df['Column 1'] #Accessing like dict

0   -1.537375
1   -1.139035
2    2.121158
3    2.934701
4    0.724481
Name: Column 1, dtype: float64

In [13]:
#Adding a new column
df['Column 2']=df['Column 1']*4 #Adding subtracting etc.
df

   Column 1   Column 2
0 -1.537375  -6.149500
1 -1.139035  -4.556139
2  2.121158   8.484631
3  2.934701  11.738803
4  0.724481   2.897926

In [15]:
#Other Manipulation like -sorting (But it will make change to df)
#So to preserve save it in new frame.
df1=df.sort_values(by='Column 2')
df1
#The ordering is preserved

   Column 1   Column 2
0 -1.537375  -6.149500
1 -1.139035  -4.556139
4  0.724481   2.897926
2  2.121158   8.484631
3  2.934701  11.738803

In [16]:
#Boolean Indexing
df[df['Column 2']<=2]

   Column 1  Column 2
0 -1.537375 -6.149500
1 -1.139035 -4.556139

In [17]:
df.apply(lambda x:min(x)+max(x))

Column 1    1.397326
Column 2    5.589303
dtype: float64

In [18]:
np.mean(df)

Column 1    0.620786
Column 2    2.483144
dtype: float64

In [22]:
table=df.describe()
table

       Column 1   Column 2
count  5.000000   5.000000
mean   0.620786   2.483144
std    1.960274   7.841096
min   -1.537375  -6.149500
25%   -1.139035  -4.556139
50%    0.724481   2.897926
75%    2.121158   8.484631
max    2.934701  11.738803

In [25]:
table['mean']

KeyError: 'mean'