In [1]:
import pandas as pd
import numpy as np

In [2]:
def parseTimePoint(timepoint,time):
    tagTup=['w','x','y','z','X','Y','Z','t']
    iteratable=[['timePoint'+' '+str(time)],tagTup]
    indexTimepoint=pd.MultiIndex.from_product(iteratable)
    #print indexTimepoint
    value=np.empty((8),dtype=float)

    timepoint=timepoint.strip()
    try:
        timepoint=timepoint.split('w')
        timepoint=timepoint[1].split('x')
        value[0]=float(timepoint[0])
        #print timepoint

        timepoint=timepoint[1].split('y')
        value[1]=float(timepoint[0])
        #print timepoint

        timepoint=timepoint[1].split('z')
        value[2]=float(timepoint[0])
        #print timepoint

        timepoint=timepoint[1].split('X')
        value[3]=float(timepoint[0])
        #print timepoint

        timepoint=timepoint[1].split('Y')
        value[4]=float(timepoint[0])
        #print timepoint

        timepoint=timepoint[1].split('Z')
        value[5]=float(timepoint[0])
        #print timepoint

        timepoint=timepoint[1].split('t')
        value[6]=float(timepoint[0])
        #print timepoint

        timepoint=timepoint[1].split('b')
        value[7]=float(timepoint[0])
        #print "HI"
        #print timepoint
    except:
        return 0
    #print value
    series=pd.Series(value,index=indexTimepoint)
    return series

In [3]:
timepoint="w0.83x0.45y0.08z0.32X442Y481Z377t724b0K"

In [4]:
s=parseTimePoint(timepoint,1)

In [5]:
df=pd.DataFrame(s,columns=['1'])

In [6]:
df

                    1
timePoint 1 w    0.83
            x    0.45
            y    0.08
            z    0.32
            X  442.00
            Y  481.00
            Z  377.00
            t  724.00

In [7]:
timepoint="w0.9x0.7y0.9z0.32X442Y61Z57t44b0K"

In [8]:
s=parseTimePoint(timepoint,2)

In [9]:
df2=pd.DataFrame(s,columns=['1'])

In [10]:
df2

                    1
timePoint 2 w    0.90
            x    0.70
            y    0.90
            z    0.32
            X  442.00
            Y   61.00
            Z   57.00
            t   44.00

In [11]:
result = pd.concat([df, df2], axis=0)

In [12]:
result

                    1
timePoint 1 w    0.83
            x    0.45
            y    0.08
            z    0.32
            X  442.00
            Y  481.00
            Z  377.00
            t  724.00
timePoint 2 w    0.90
            x    0.70
            y    0.90
            z    0.32
            X  442.00
            Y   61.00
            Z   57.00
            t   44.00

In [13]:
result = pd.concat([result, df], axis=1, join_axes=[result.index])

In [14]:
result

                    1       1
timePoint 1 w    0.83    0.83
            x    0.45    0.45
            y    0.08    0.08
            z    0.32    0.32
            X  442.00  442.00
            Y  481.00  481.00
            Z  377.00  377.00
            t  724.00  724.00
timePoint 2 w    0.90     NaN
            x    0.70     NaN
            y    0.90     NaN
            z    0.32     NaN
            X  442.00     NaN
            Y   61.00     NaN
            Z   57.00     NaN
            t   44.00     NaN

In [15]:
df

                    1
timePoint 1 w    0.83
            x    0.45
            y    0.08
            z    0.32
            X  442.00
            Y  481.00
            Z  377.00
            t  724.00

In [16]:
df1=pd.DataFrame()

In [17]:
df1

Empty DataFrame
Columns: []
Index: []

In [18]:
res=pd.concat([df1,df],axis=0)

In [19]:
res

                    1
timePoint 1 w    0.83
            x    0.45
            y    0.08
            z    0.32
            X  442.00
            Y  481.00
            Z  377.00
            t  724.00

In [20]:
df

                    1
timePoint 1 w    0.83
            x    0.45
            y    0.08
            z    0.32
            X  442.00
            Y  481.00
            Z  377.00
            t  724.00

In [21]:
tempDf=pd.DataFrame()

In [22]:
res=pd.concat([tempDf,df2],axis=1,join_axes=[df2.index])

In [23]:
res

                    1
timePoint 2 w    0.90
            x    0.70
            y    0.90
            z    0.32
            X  442.00
            Y   61.00
            Z   57.00
            t   44.00

In [24]:
res2=pd.concat([res,result],axis=1,join_axes=[result.index])

In [25]:
#res2=pd.concat([res2,res],axis=1,join_axes=[result.index])

In [26]:
result.index

MultiIndex(levels=[['timePoint 1', 'timePoint 2'], ['X', 'Y', 'Z', 't', 'w', 'x', 'y', 'z']],
           labels=[[0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1], [4, 5, 6, 7, 0, 1, 2, 3, 4, 5, 6, 7, 0, 1, 2, 3]])

In [27]:
res.index

MultiIndex(levels=[['timePoint 2'], ['X', 'Y', 'Z', 't', 'w', 'x', 'y', 'z']],
           labels=[[0, 0, 0, 0, 0, 0, 0, 0], [4, 5, 6, 7, 0, 1, 2, 3]])

In [28]:
res2

                    1       1       1
timePoint 1 w     NaN    0.83    0.83
            x     NaN    0.45    0.45
            y     NaN    0.08    0.08
            z     NaN    0.32    0.32
            X     NaN  442.00  442.00
            Y     NaN  481.00  481.00
            Z     NaN  377.00  377.00
            t     NaN  724.00  724.00
timePoint 2 w    0.90    0.90     NaN
            x    0.70    0.70     NaN
            y    0.90    0.90     NaN
            z    0.32    0.32     NaN
            X  442.00  442.00     NaN
            Y   61.00   61.00     NaN
            Z   57.00   57.00     NaN
            t   44.00   44.00     NaN

In [32]:
res2.columns#to access the index of cloumns side.

Index(['1', '1', '1'], dtype='object')

In [33]:
res2.index #To access the index of row side.

MultiIndex(levels=[['timePoint 1', 'timePoint 2'], ['X', 'Y', 'Z', 't', 'w', 'x', 'y', 'z']],
           labels=[[0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1], [4, 5, 6, 7, 0, 1, 2, 3, 4, 5, 6, 7, 0, 1, 2, 3]])